ul {
    list-style-type: none;
}
.navbar-fixed-top {
    background-image: url("img/Galactic_halo_Sombrero_HST_H1.jpg");
    background-position: center top;
    background-size: cover;
}
#headerCategory {
    color: white;
    text-shadow: 1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#headerOptions a {
    color: lime;
    font-size: 16px;
    font-weight: bold;
}
#headerOptions a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
}
.home {
    color: lime;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    background: url("img/20160201_090120.jpg") center 0px no-repeat;
    background-size: cover;
}
hr.nameDivider {
    color: black;
    background-color: black;
    margin-top: -8px;
    height: 3px;
    max-width: 600px;
}
.description {
    font-size: 28px;
}
.basicDesc {
    margin-top: 25%;
}
.smButtons {
    border: 1px, black;
    background-color: rgba(0, 255, 0, 1);
    transform: scale(1.0);
    transition: 0.2s;
    color: #404040;
}
.smButtons:hover {
    background-color: rgba(0, 255, 0, 1);
    transform: scale(1.2);
    transition: 0.2s;
    color: #404040;
}
.about {
    color: white;
    text-shadow: 1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    height: 100%;
    text-align: center;
    position: relative;
    background: url("img/GT-R_R35.jpg") center center no-repeat;
    background-size: cover;
    font-size: 1.3em;
}
.bio {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.about img {
    margin: 0px;
    padding: 0px;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    border: 2px solid #fff;
}
.portfolio {
    padding-top: 5%;
    position: relative;
    color: white;
    height: 100%;
    text-align: center;
    background: url("img/McLaren-650S.jpg") 0px 0px no-repeat;
    background-size: cover;
}
.portfolioObj {
    text-align: center;
    margin-top: 30px;
}
.portItemName {
    color: black;
    margin-top: -50px;
}
.contact {
    padding-top: 10%;
    color: white;
    position: relative;
    background: url("img/Ducati1299.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    text-align: center;
}
.contact h3 {
  text-shadow: 1px 1px 0 black,
  -1px 1px 0 black,
  1px -1px 0 black,
  -1px -1px 0 black;
}
.contact .col-xs-5 {
    margin-top: 7%;
}
.contact li {
    margin: 30px 0;
    color: black;
}
.contactButtons{
  color: #404040;
  background-color: lime;
}
